.tweetContainer {
  border: 1px solid;
  padding: 1em 1em 0.5em 1em;
}

.tweetContainer + .tweetContainer {
  margin-top: 2em;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}