.pageContainer {
  display: flex;
}

.followListContainer {
  width: 13em;
}

.tweetsContainer {
  flex: 1;
  margin-left: 1.5em;
}

.followingList + .followingList {
  margin-top: 2.5em;
}

.newTweetContainer {
  margin-top: 3em;
}